services:
  - type: web
    name: transport-backend
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn transport_project.wsgi:application"
    rootDir: "backend"
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "false"
      - key: ALLOWED_HOSTS
        value: "*"
